body {
  padding: 0;
  margin: 0;
}

@media (min-width: 1244px) {
  body {
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }
}

h1, h2, h3  {
  font-family: "Quicksand";
  text-align: center;
}

h2 {
  font-size: 17px;
  margin: 20px 0;
}

p {
  font-family: "source sans pro";
  margin: 0;
  line-height: 25px;
}

.padding {
  padding: 20px;
}

.menu-line-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  margin-top: 20px;
}

.price {
  margin-left: 20px;
  width: 70px;
  text-align: right;
}


.english {
  margin-right: 40px;
}

.evening {
  color: red;
  margin-left: 10px;

}

.vega {
  color: green;
  font-weight: 800;
  margin:  0 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.back-icon {
  width: 3%;
}

.homepage-icon {
  width: 5%;
}

.sauces {
  margin-top: 30px;
}
