.starter {
    background-image: url(../images/banner-starters.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 20vh;
}

.soup {
  background-image: url(../images/banner-soup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
}

.main {
  background-image: url(../images/restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
}

.pates {
  background-image: url(../images/banner-pasta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
}

.pizza {
  background-image: url(../images/pizza.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
}

.dessert {
  background-image: url(../images/banner-dessert.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
}

